.imagen{
    width: 600px;
    height: 600px;
    float: center;
    border-radius: 50px;

    
    
    }
    .imagen1{
        margin-left: auto; 
        border-radius: 50px;
    width: auto;
    height: 250px;
    }
    .imagen2{
        margin-left: auto;
        border-radius: 50px;
    width: auto;
    height: 250px;
    float: center;
    }
   
    p{
     text-align: justify;
     float:center
    }
    .imagen3{
        margin-left: auto; 
        border-radius: 50px;
    width: auto;
    height: 250px;
    float: center;

    }
    .Titulo_Sebastian{
        font-family: 'Pacifico', cursive;

    } 

    .imagen4{
        margin-left: auto; 
        border-radius: 50px;
    width: auto;
    height: 250px;

    }