.Linea{
background-color: black;
height: 5px;
font-size: 8px;

margin: 0px -110px
}

.Titulos{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
}

.Subtitulos{
    font-family:cursive;
    font-size: 40px;
    text-align: center;
}

.imagen1{

    width: 700px;
    height: auto;
    border-radius: 30px;
    margin: 15px;
}

.imagen2{

    width: 330px;
    height: auto;
    border-radius: 30px;
}

.imagen3{

    width: 410px;
    height: auto;
    border-radius: 30px;

}

.imagen4{
   
    width: 350px;
    height: auto;
    border-radius: 30px;
    margin: 10px;


}

.imagen5{

    width: 300px;
    height: auto;
    


}

.ParrafoDescripcion{
    font-size: 20px;
    text-align: justify;
    

}

.texto_Personaje{

    text-align: justify;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}