.Proyecto_Texto_Samuel{
    text-align: center;
    word-wrap: break-word;
    width: 1220px;
    font-family: 'Ysabeau', serif;
}
.Titulo_Proyecto_Samuel{
    font-family: 'Roboto Slab', serif;
    font-size: 140px;


}